/*.text_box {
  width: 200px;
  height: 200px;
  border: 3px solid #004c6d;
  border-radius: 10px;
  float: right;
  background-color: #b2c9d3;
  text-align: center;
  line-height: 200px;
  font-size: 45px;
}*/

/* the element (a container/box) that contains all elements for the game */
#game_box {
  width: 800px;
  height: 400px;
  margin: auto;
  border: 5px solid #222;

}

.backpack_container {
  width: 275px;
  display: inline-block;
  float: right;
  /*padding: 5px;
  border: 2px solid black;*/
}

.drop_down_button { 
  width: 70%;
  height: 40px;
  border-radius: 15px;
  background-color: #a3a3a3;
  color: #004c6d;
  font-weight: bold;
  outline: none;
  margin-left: 25%;
}

#backpack_contents {
  width: 70%;
  margin-left: 25%;
}

.backpack_item {
  height: 30px;
  color: #006d58;
  border: 1px solid black;
  line-height: 2;
  margin-top: 4px;
  position: relative;
  text-align: center;
}

.item_value {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2.5px;
  left: 2.5px;
  line-height: 20px;
  border: 2px outset #f2dc58;
  border-radius: 100%;
  background-color: #ddc328;
  font-size: 12px;
  font-weight: bold;
  color:  black;
  text-align: center;
}

.sell_button {
  position: absolute;
  top: 15%;
  width: 40px;
  left: -45px;
  outline: none;
}

#coin_counter {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px outset #f2dc58;
  border-radius: 100%;
  background-color: #ddc328;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
